- form_tag spots_path, :method => :get, :id => "search" do
  = hidden_field_tag :distance, 1
  = text_field_tag :q, @search.string
  %span.hint
    %strong Primer iskanja:
    dunajska cesta 100
  %br
  = submit_tag "Poišči točke", :class => "btn", :name => nil
  
:javascript
  $("q").focus();