- title "Uredi podatke"
- 
%h2 Uredi podatke

= form_for @spot do |f|
  = render :partial => "form", :locals => { :f => f }
  
  = submit_tag "Osveži"


:javascript
  $().ready(function() {
    wifi = new WifiMap()
    wifi.placeSpot(#{@spot.client_side_json})
    wifi.makeEditable(wifi.spots[0])
    wifi.map.setCenter(wifi.spots[0].latlng)
  })