Veseli nas da ste postali registriran uporabnik spletne strani wifi-tocke.si.

Prijavite se lahko na naslovu
= @login_url

Vaši podatki za prijavo:

E-mail:
= @user.email
Geslo: 
= @user.password

Lep pozdrav,
ekipa WiFi točke

= "------------------------------------------------"
Seznam brezplačnih WiFi točk na http://wifi-tocke.si