- # :header_message => "Napaka pri shranjevanju", |
- # :message => "Pri shranjevanju točke je prišlo do ene ali več napak." |
- if target.errors.any?
  #errorExplanation
    %h3
      = t('error.cantsave')
      = t('error', :count => target.errors.count)
    %ul
    - target.errors.full_messages.each do |msg|
      %li= msg 