- title "Seznam WiFi točk"

= render :partial => "/spots/search"

%p{:style => "margin:0 auto; width: auto; margin-top: 20px; text-align:center;"}
  Za iskanje po naslovu/mestu morate pred naslov dopisati besedico
  %strong blizu.
  %br
  Imena ulic in mest ne sklanjajte!
  %span{:style => 'color: #008de7'} Primer: blizu Metoda Mikuža 5
  
%p{:style => "margin:0 auto; margin-top: 20px; text-align:center;"}
  = link_to "Vpiši novo točko", new_spot_path