- title "Seznam WiFi točk"

= render :partial => "/spots/search"

%p{:style => "margin:0 auto; width: auto; margin-top: 20px; text-align:center;"}
  Imen ulic in mest ne sklanjajte!
  %span{:style => 'color: #008de7'} Primer: Metoda Mikuža 5
  
#content
  %h3{:style => "margin: 10px 0 20px 6px; padding-bottom: 4px; border-bottom: 1px solid #ccc;"} Sveže vnešene
  %ul#main_list
    - Spot.recent.each do |spot|
      %li= render spot
      
  #aside
    #advertisement
      .be_honest
        Oglasno sporočilo

      = # swf_tag "/swfs/banner-336x280.swf", :width => 336, :height => 280
      = image_tag "http://lorempixel.com/500/400/"
    / %br.clear
  
:javascript
  $().ready(function() {
  wifi_util = new WifiUtil()
  wifi_util.geolocate()
  })