$lightBlue: #008DE7;
$darkBlue: #005C96;
$sans-serif: Tahoma, Verdana, Helvetica, Arial, sans-serif;
$footerHeight: 110;

/* Success, notice and error boxes
-------------------------------------------------------------- */
.errorExplanation,.error,.notice,.success { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.errorExplanation,
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.errorExplanation a,
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

#main #errorExplanation p { width: auto; }
#main #errorExplanation ul { margin: 5px 0 0 20px; }

html, body, div, span, h1, h2, h3, h4, h5, h6, ul, ol, li,
form, table, td, tr, img, p, fieldset, label, dl, dt, dd {
  margin:0; padding:0; border:0; font-weight:normal; }
input, select { margin:0; }

html { height:100%; }
  
body {
  height: 100%;
  background: white;
  font: 0.813em/1.7em $sans-serif;
  text-align:left;
  color:#333;
  }

#wrapper {
  min-height: 100%;
}

.clear { clear:both; }




.front {
  
 #head { padding: 0; }
 
 #content {
 
   #main_list {
     float: left;
     width: 44%;
     li {
       padding: 0;
       a {
         background: $lightBlue;
       }
       span {
         white-space: normal;
         padding: 0;
         margin: 0;
         width: auto;
         min-width: auto;
         display: inline;
       }
     }
   } // #main_list
 
 } // #content
}


#head {
  border-top:3px solid $lightBlue;
  padding:1.25em 0;

  h1 {
    font: {
      weight: normal;
      size: 2.5em;
    }
    margin: 0 0.8em;
    }

  a {
    color:$lightBlue;
    text-decoration:none;

    .wifi {
      font-weight:400;
      }
    .tocke {
      color:#474747;
      font-weight:200;
      }
    }
  
  fieldset {
    text-align:right;
    line-height:2.2em;
    margin-right:1em;

    label {
      white-space:nowrap;
      margin-left:0.5em;
      }

    select {
      margin-right:1em;
      }
    }

  .noscript {
    display: inline;
  }

  input {
    margin-right: 1em;
  }

}





#map_canvas {
  height:400px;
  border-color:#666;
  border-style:solid;
  border-top-width:1px;
  border-bottom-width:1px; }

#controls {
  height:2em; }
  
  #controls a {
    margin-right:2em;
    float:right;
    padding:0.2em 1em;
    background:#666;
    color:white;
    text-decoration:none;
    font-weight:bold;
    
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px; }
    
  #controls a:hover {
    background:#333; }
    
    #controls a span {
      text-decoration:underline;
      font-weight:normal; }
      
    #controls a:hover span {
      text-decoration:none; }




#main {
  overflow: auto;
  margin:2em 2em 0 2em;
  padding-bottom: #{$footerHeight}px;
  }
  
  .sub #main {
    padding-bottom: #{$footerHeight + 20}px;
  }
  
  #main a {
    color:$darkBlue;
    text-decoration:underline;}
    
  #main a:hover {
    color:$darkBlue;
    text-decoration:none; }
  
  #main_list {
    list-style-type:none;
    
    li {
      line-height:1.4em;
      margin-bottom:0.4em;
      padding:0.2em 0.5em;
      display:block;
      
      a {
        width:29%;
        margin-right:2%;
        float:left;
        overflow:hidden;
        white-space:nowrap;
        max-width:30em;
        }
        
      span {
        width:69%;
        display:block;
        overflow:hidden;
        white-space:nowrap;
        }
    }
    
    li a,
    li span {
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -icab-text-overflow: ellipsis;
      -khtml-text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
    }
  } /* main_list */
  
  
  
  
  /* Search form */
  #search {
    #user_location {
      width: 400px;
      margin: 0 auto;
      font-size: 0.846em;
      color: #666;
    }
  }
  
  
  #main #search { text-align: center; margin-bottom: 20px; }
  #main #search input#q {
    padding: 4px;
    width: 30%;
    font-size: 12px;
    }
  #main #search .hint {
    margin: 0 auto;
    width: auto;
    color: #666;
    font-size: 0.75em;
    margin-top: 10px;
  }
  #main #search .btn {
    padding: 0 8px;
    height: 1.85em;
    font-size: 0.9em;
  }
  
  #main .info {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid $lightBlue;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  /* Frontpage */
  .front #main h1 { text-align: center; margin-bottom: 20px; }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
    .pagination span,
    .pagination a {
      padding: 5px 8px;
    }
  
  /* ... continue main design ... */
  #main h2 {
    margin-bottom:1em; }
  
  #main dl {
    clear:both;
    line-height:1.4em;
    padding-top:2.1em;  }
    
    #main dt {
      color:#999;
      width:10em;
      float:left;
      clear:left;
      padding-bottom:0.7em; }
      
      #main form dt {
      color:#333; }
      
    #main dd {
      float:left;
      padding-bottom:0.7em; }
    
      #main form dd span {
        font-size:0.85em;
        line-height:1.1em;
        color:#999;
        display:block; }
      
    #main input,
    #main textarea,
    #main select,
    #main p,
    #main span {
      width:20em; }
      
    #main input.submit {
      width:15em; }
      
    #main #versions { width: 100%; padding-top: 20px; clear: both; }
    #main #versions th { font-weight: bold; border-bottom: 2px solid #ccc; }
    #main #versions td { border-bottom: 1px solid #ccc; padding: 4px 0; vertical-align: top; }
      #main #versions td.changes p { font-size: 10px; width: auto; }
      #main #versions td.changes span { color: blue; }

#footer {
  position: relative;
  margin-top: #{-$footerHeight}px;
  height: #{$footerHeight}px;
  clear: both;
  
  div {
    color:#999;
    border-top:1px solid #bbb;
    margin:0em 1em 0.2em 1em;
    padding:0.8em 1em;
    position: relative;
    }
    
    .copyright {
      position: absolute;
      left: 0; top: 0;
      border: none;
    }
    
    .facebook {
      position: absolute;
      right: 0; top: 0;
      width: 450px;
      border: none;
    }
    
    a {
      color:#999;
      text-decoration:underline;
      }
      
    a:hover {
      text-decoration:none;
      }
}

div.geo { display: none; }


/*Opera Fix for sticky footer*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px; /* we're missing a / behind last ; - http://www.cssstickyfooter.com/using-sticky-footer-code.html */
}



#aside {
  display: block;
  float: right;
  text-align: center;
  
  #advertisement {
    width: 500px;
    padding: 0.75em;
    background: #f7f7f7;
    
    .be_honest {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.692em;
      color: #aaa;
      text-align: right;
      margin-right: 5px;
    }
    
  } // #advertisment
}


// @import 'mobile';