%div
  2010
  &copy;
  Vse pravice pridržane
  |
  Komentarje in predloge sprejemamo na
  = mail_to("info@wifi-tocke.si", "info@wifi-tocke.si") + '!'
  |
  Sponzor gostovanja
  = link_to "Siel.si", 'http://www.siel.si', :title => 'Siel - Ruby gostovanje'